# ------------------------------------------------
# Environment Configuration for SLX Unix Service
# ------------------------------------------------

# The full connection string TO ERPXL SQL Server database.
SQLSERVER_URI=sqlserver://sa:SalesW0rk5@localhost:1433?database=ERPXL_GO

# The full connection string TO POSTGRES
POSTGRES_URI=postgresql://user:password@server:5432/s-works?sslmode=require&channel_binding=require

# The full path to the aggregates configuration yaml
AGG_PATH=./config.yaml

# SLX Database Configuration
DB_PATH=./.data/slx.db

# NATS Configuration
NATS_URL=tls://connect.ngs.global
NATS_CREDS=./.creds/slx.creds

# DISPATCHER Configuration
DISPATCHER_NUM_WORKERS=10
DISPATCHER_JOB_QUEUE_SIZE=1000