# ------------------------------------------------
# Environment Configuration for SLX Windows Service
# ------------------------------------------------

# Set the environment to "production" to enable file logging.
ENV=production

# The full connection string TO ERPXL SQL Server database.
# SQLSERVER_URI=sqlserver://user:password@server:1433?database=ERPXL_??

# The full path to the log filename
LOG_FILENAME=C:\SLX\slx.log

# The full path to the aggregates configuration yaml
AGG_PATH=C:\SLX\agg.yaml

# SLX Database Configuration
DB_PATH=C:\SLX\slx.db

# NATS Configuration
NATS_URL=tls://connect.ngs.global
NATS_CREDS=C:\SLX\slx.creds

# DISPATCHER Configuration
DISPATCHER_NUM_WORKERS=10
DISPATCHER_JOB_QUEUE_SIZE=1000